<h1>All users</h1>

<%= if !is_empty_list?(@users.entries) do %>
  <%= pagination_links @conn, @users, view_style: :bootstrap %>
  <ul class="users">
    <%= for user <- @users.entries do %>
      <%= render "user.html", conn: @conn, user: user %>
    <% end %>
  </ul>
  <%= pagination_links @conn, @users, view_style: :bootstrap %>
<% end %>
