<h1>Sign up</h1>

<%= render SampleApp.UserView, "form.html", changeset: @changeset,
                                            action: user_path(@conn, :create ),
                                            submit: "Signup" %>
