<div class="row">
  <aside class="col-md-4">
    <section>
      <h1>
        <img src="<%= gravatar_for(@user) %>" class="gravatar">
        <%= @user.name %>
      </h1>
    </section>
  </aside>
</div>
