/* Users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-top: 1px solid #eeeeee;
    &:last-child {
      border-bottom: 1px solid #eeeeee;
    }
  }
}
